<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3ByX7PaNcZdBA7CHh8TT4omI91LjcZTE</string>
	<key>GCM_SENDER_ID</key>
	<string>470751147840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.almanadaApp</string>
	<key>PROJECT_ID</key>
	<string>almanada-49c1c</string>
	<key>STORAGE_BUCKET</key>
	<string>almanada-49c1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470751147840:ios:c8e77c372cb4d02fb6aca5</string>
</dict>
</plist>